# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# ASP.NET Core
wwwroot/

# Docker
.dockerignore
Dockerfile
docker-compose.yml
docker-compose.override.yml
.docker/

# Rider
.idea/

# Visual Studio for Mac
.vscode/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# User-specific files
.vscode/

# Mac files
.DS_Store

# Linux files
*~
